<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vqms.management.mapper.VqmsPolicyParamMapper">
    <resultMap type="com.ruoyi.vqms.management.domain.VqmsPolicyParam" id="VqmsPolicyParamResult">
        <id     property="paramId"     column="param_id"/>
        <result property="paramKey"    column="param_key"/>
        <result property="paramValue"  column="param_value"/>
        <result property="name"        column="name"/>
        <result property="description" column="description"/>
        <result property="createBy"    column="create_by"/>
        <result property="createTime"  column="create_time"/>
        <result property="updateBy"    column="update_by"/>
        <result property="updateTime"  column="update_time"/>
    </resultMap>

    <sql id="selectPolicyParamVo">
        select param_id, param_key, param_value, name, description,
               create_by, create_time, update_by, update_time
        from vqms_policy_param
    </sql>

    <select id="selectList" resultMap="VqmsPolicyParamResult">
        <include refid="selectPolicyParamVo"/>
        order by param_id
    </select>

    <select id="selectByKey" resultMap="VqmsPolicyParamResult">
        <include refid="selectPolicyParamVo"/>
        where param_key = #{paramKey}
    </select>

    <insert id="insert" parameterType="com.ruoyi.vqms.management.domain.VqmsPolicyParam"
            useGeneratedKeys="true" keyProperty="paramId">
        insert into vqms_policy_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paramKey != null and paramKey != ''">param_key,</if>
            <if test="paramValue != null">param_value,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paramKey != null and paramKey != ''">#{paramKey},</if>
            <if test="paramValue != null">#{paramValue},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
        </trim>
    </insert>

    <update id="updateValue">
        update vqms_policy_param
        set param_value = #{paramValue},
            update_by   = #{updateBy},
            update_time = sysdate()
        where param_key = #{paramKey}
    </update>

    <delete id="deleteByKey">
        delete from vqms_policy_param where param_key = #{paramKey}
    </delete>

    <select id="countAll" resultType="long">
        select count(*) from vqms_policy_param
    </select>
</mapper>
